* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*ajusta para poder definir todos os dados dentro da box que já esta definida*/
}

body {
  background: url(./assets/bg-mobile.jpg) no-repeat top center/cover;
}

body * {
  /*usando * utiliza para todos os elementos dentro do body*/
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

#container {
  width: 22.5rem;
  height: 44.5rem;
  /* margin: auto;  margin auto defini margin right e left apenas */
  margin: 3.5rem auto 0px;
  padding: 0 1.5rem;
}

#profile {
  text-align: center;
  padding: 1.5rem; /*preenchimento interno da box*/
}

#profile img {
  width: 7rem;
}

#profile p {
  font-weight: 500;
  /* font-size: 16px;  já tem como padrão no navegador os 16px, então não precisa ser utilizado*/
  line-height: 1.5rem; /*altura da linha*/
  margin-top: 0.5rem;
}

/* links */

ul {
  list-style: none;
  display: flex;
  flex-direction: column; /*deixa os elementos em colunas*/
  gap: 1rem; /*espaço entre elementos*/

  padding: 1.5rem 0; /*espaço top e button e lateral (alterou a ordem do padding por conta de ter passado o elemento para uma column, assim invertendo como usar o restante)*/
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.5rem; /*1rem (altura) 1.5rem largura*/

  background: rgba(255, 255, 255, 0.1);
  border: 0.1rem solid rgba(255, 255, 255, 0.5);
  border-radius: 0.2rem;

  backdrop-filter: blur(0.4rem);
  -webkit-backdrop-filter: blur(
    0.4rem
  ); /*pré requisito chamado -webkit para o navegador Safari 9+*/

  text-decoration: none;
  font-weight: 500;

  transition: background 0.3s; /*transação da propriedade inserida, ao lado mantém o tempo dela*/
}

/*pseudo-selector*/
ul li a:hover {
  /*animação para quando passar o cursor*/
  background: rgba(255, 255, 255, 0.05);
  border: 0.095rem solid white;
}

/* icons social-links */

#social-links {
  display: flex;
  justify-content: center;
  padding: 1.5rem 0;
  font-size: 1.5rem;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;

  transition: background 0.2s;
  border-radius: 50%;
}

#social-links a:hover {
  background: rgba(255, 255, 255, 0.2);
  padding: 1rem;
}
