/*cores de forma global*/
:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color:rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moon-stars.svg);
}

.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color:rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0,0,0,0.1);
  --switch-bg-url: url(./assets/sun.svg)
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*ajusta para poder definir todos os dados dentro da box que já esta definida*/
}

body {
  background: var(--bg-url) no-repeat top center/cover;
}

body * {
  /*usando * utiliza para todos os elementos dentro do body*/
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
}

#container {
  width: 100%;
  max-width: 588px;
  /* margin: auto;  margin auto defini margin right e left apenas */
  margin: 3.5rem auto 0px;
  padding: 0 1.5rem;
}

/*profile*/
#profile {
  text-align: center;
  padding: 1.5rem; /*preenchimento interno da box*/
}

#profile img {
  width: 7rem;
}

#profile p {
  font-weight: 500;
  /* font-size: 16px;  já tem como padrão no navegador os 16px, então não precisa ser utilizado*/
  line-height: 1.5rem; /*altura da linha*/
  margin-top: 0.5rem;
}

/*switch*/

#switch {
  position: relative;
  width: 4rem;  

  margin: 0.25rem auto;
}

#switch button {
  width: 2rem;
  height: 2rem;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  left: 0;
  top: 50%;                       /*espaço a 50% da altura do seu elemento pai. */
  transform: translateY(-50%);    /*transform é uma propriedade que aplica uma transformação ao elemento, movendo-o verticalmente, neste caso move o elemento para cima em 50% da sua própria altura. */
  z-index: 1;
}

.light #switch button {
  right: 0;
  left: initial;
}

#switch span {
  display: block;
  height: 1.5rem;     /*altura*/ 
  width: 4rem;        /*largura*/
  background: var(--surface-color);
  border: 0.1rem solid var(--stroke-color);
  backdrop-filter: blur(0.4rem);
  --webkit-backdrop-filter: blur(0.4rem);
  border-radius: 625rem;
}


/* links */

ul {
  list-style: none;
  display: flex;
  flex-direction: column; /*deixa os elementos em colunas*/
  gap: 1rem; /*espaço entre elementos*/

  padding: 1.5rem 0; /*espaço top e button e lateral (alterou a ordem do padding por conta de ter passado o elemento para uma column, assim invertendo como usar o restante)*/
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.5rem; /*1rem (altura) 1.5rem largura*/

  background: var(--surface-color);
  border: 0.1rem solid var(--stroke-color);
  border-radius: 0.2rem;

  backdrop-filter: blur(0.4rem);
  -webkit-backdrop-filter: blur(
    0.4rem
  ); /*pré requisito chamado -webkit para o navegador Safari 9+*/

  text-decoration: none;
  font-weight: 500;

  transition: background 0.3s; /*transação da propriedade inserida, ao lado mantém o tempo dela*/
}

/*pseudo-selector*/
ul li a:hover {
  /*animação para quando passar o cursor*/
  background: var(--surface-color-hover);
  border: 0.095rem solid var(--text-color);
}

/* icons social-links */

#social-links {
  display: flex;
  justify-content: center;
  padding: 1.5rem 0;
  font-size: 1.5rem;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;

  transition: background 0.2s;
  border-radius: 50%;
}

#social-links a:hover {
  background: var(--highlight-color);
  padding: 1rem;
}

footer {
  padding: 1.5rem 0;
  text-align: center;
  font-size: 0.87rem;
}

