body {
  background: url(./assets/bg-mobile.jpg) no-repeat top center/cover;
}

#container {

  border: 1px solid green;
  width: 360px;
  height: 712px;
  margin: auto;  /*defini margin right e left apenas*/
}

#profile {
  text-align: center;
}

#profile img {
  width: 112px;
}